@font-face {
    font-family: 'river';
    src: url('./fonts/reverie-regular-personal-use-only-webfont.woff2') format('woff2'),
         url('./fonts/reverie-regular-personal-use-only-webfont.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

::-webkit-scrollbar {
    width: 0;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.logo {
    position: fixed;
    font-family: river;
    font-size: 3vmax;
    top: 8vh;
}

#main-container {
    padding: 6%;
}

.hero {
    position: absolute;
    top: 5vh;
    padding-bottom: 15vh;
}

#menu h1 {
    font-size: 12vmax;
    font-family: river;
}

#main-container a {
    text-decoration: none;
    color: black;
}

.line1 {
    font-style: italic;
    font-size: 2vmax;
    color: rgb(215, 208, 208);
}

.line2 {
    font-family: 'Cutive Mono', monospace;
}

.nav-links {
    position: fixed;
    bottom: 5vh;
    font-family: river;
}

.nav-links {
    display: flex;
    gap: 2vw;
    font-size: 1.5vmax;
}

.nav-links a {
    border-bottom: solid 2px white;
}

.nav-links a:hover {
    border-bottom: solid 2px black;
}

.text-hover {
    opacity: 0.1;
    transition: opacity 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
    #menu-img img {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    #copy1 {
        position: absolute;
        top: -40vh;
        left: 20vw;
        width: 22vw;
      }  

    #photo1 {
        position: absolute;
        top: -80vh;
        left: 27vw;
        width: 18vw;
      }
       #photo2{
        position: absolute;
        top: -90vh;
        left: 50vw;
        width: 15vw;
      }
    
      #photo3 {
        position: absolute;
        top: -30vh;
        height: 20vh;
        left: 40vw;
      }
       
       #film1 {
        position: absolute;
        top: -80vh;
        left: 40vw;
        width: 19vw;
      }
       #film2{
        position: absolute;
        top: -40vh;
        left: 26vw;
        width: 14vw;
      }
     
      #strategy1{
        position: absolute;
        top: -40vh;
        left: 40vw;
        width: 14vw;
      }

  
      #strategy2{
        position: absolute;
        top: -80vh;
        width: 13vw;
        left: 25vw;
      }
  
      #menu-img img {
        display: none;
        border-radius: 7%;
    }
  
    /* hover image effect  */
    .img-visibility {
        display: block;
        position: absolute;
      
      }
}


/* secondary page navigation bar  */ 
#secondary-nav{
    position: absolute;
    top: 10vmax;
}
#secondary-nav a {
    font-family: river;
    font-size: 1.5vmax;
   
}
#secondary-nav a:hover{
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
}

#secondary-nav a.active {
    /* text-decoration: underline; */
    padding-bottom: .1rem;
    border-bottom: solid 1px black
    
}